
          <!DOCTYPE html>
          <html>
             <head>
                <title>Newsletter | Italist</title>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
             </head>
             <body style="background-color: #ffffff; font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; text-align: center; margin: 0px; padding: 0px">
                <center>
                   <table width="650" border="0" cellpadding="0" cellspacing="0" style="text-align: center; width: 650px; border: 1px solid #000; margin:0 auto">
                      <colgroup>
                         <col style="width: 26px">
                         <col style="width: 25px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 68.75px">
                         <col style="width: 25px">
                         <col style="width: 26px">
                      </colgroup>
                      <tbody>
                         <tr>
                            <td colspan="8" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; color: red; text-transform: uppercase; text-align: left; padding: 0.5em; border-bottom: 1px solid #dbdbdb">
                               NO DUTY TAXES ON ANY ORDER UNDER $800 IN THE U.S.
                            </td>
                            <td colspan="4" style="text-align: right; padding: 0.5em; border-bottom: 1px solid #dbdbdb">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=94d7c9b334&e=c4c8308275" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/d764a704-71a8-4c95-8fc9-55f0b4ae0a22.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=1b8cad3498&e=c4c8308275" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/2398b573-7810-49ba-b6f2-2a8c2658636f.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=694b362082&e=c4c8308275" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/6e1848f7-8b4f-44d1-9ba9-f2f9c339f0b7.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=c414530bb7&e=c4c8308275" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/22aafcc1-3121-45fb-a242-11ef5c13a8d5.png" width="18"></a>
                            </td>
                         </tr>
                         <tr style="height: 50px">
                            <td colspan="12"></td>
                         </tr>
                         <tr>
                            <td colspan="12" style="text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=979431fefb&e=c4c8308275" title="italist" target="_blank">
                                  <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/b256460a-ee5a-4c22-8146-3c64f66bdd0a.png" alt="italist Logo" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; width: 109px">
                               </a>
                            </td>
                         </tr>
                         <tr style="height: 50px">
                            <td colspan="12"></td>
                         </tr>
                         <tr style="font-weight: bold; text-transform: uppercase; font-size: 14px">
                            <td></td>
                            <td></td>
                            <td colspan="2" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; border-right: 1px solid #000; text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=22ae1b6624&e=c4c8308275" title="italist - Women's Collection" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; text-decoration: none; color: #000">WOMEN</a>
                            </td>
                            <td colspan="2" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; border-right: 1px solid #000; border-left: 1px solid #000; text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=918d4823bf&e=c4c8308275" title="italist - Men's Collection" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; text-decoration: none; color:  #000">MEN</a>
                            </td>
                            <td colspan="2" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; border-right: 1px solid #000; border-left: 1px solid #000; text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=658c90a868&e=c4c8308275" title="italist - Designers" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; text-decoration: none; color: #000">DESIGNERS</a>
                            </td>
                            <td colspan="2" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; border-left: 1px solid #000; text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=b4bb458d14&e=c4c8308275" title="italist - Magazine" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; color: #000; text-decoration: none">MAGAZINE</a>
                            </td>
                            <td></td>
                            <td></td>
                         </tr>
          
                         <tr style="height: 10px">
                            <td></td>
                            <td colspan="10" style="/*border-bottom: 3px solid #000*/">
                            </td>
                            <td></td>
                         </tr>
                         <tr>
                            <td></td>
                            <td colspan="10" style="text-align: left">
                               <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="text-align:center">
             <tbody>
                <tr>
                   <td colspan="2" id="demtitle">
                   <!-- SLIDER -->
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=db96555865&e=c4c8308275" title="Designer_Clothes_SS18" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/1f7b866c-b95a-461a-b60c-796749c35708.jpg" alt="Designer_Clothes_SS18" width="600" border="0"></a>
                   </td>
                </tr>
                <tr style="height: 30px">
                   <td colspan="2">
                   </td>
                </tr>
                <tr>
                   <td colspan="2">
                   <!-- FOR HER -->
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=885e2233fe&e=c4c8308275" title="For Her on Italist" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 22px; font-weight: bold; color: #000; letter-spacing: 2px; text-decoration: none; display:inline-block; border-bottom: 3px solid #000; padding:3px 0">FOR HER</a>
                   </td>
                </tr>  
              <tr style="height: 20px">
                   <td colspan="2">
                   </td>
                </tr>
                <tr>
                    <td width="50%" align="center" style="text-align: center;" id="product1image">
                    <!-- PRODUCT 1 IMAGE -->    
                        <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=17f59b036d&e=c4c8308275" title="Off-White Off-white Floral Jumpsuit" target="_blank">
                           <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/9c4e76fd-44d6-44a7-9314-4fb03d82ad02.jpg" alt="Off-White Off-white Floral Jumpsuit" width="245" height="280">
                        </a>
                    </td>
                    <td width="50%" align="center" style="text-align: center;" id="product2image">
                    <!-- PRODUCT 2 IMAGE -->    
                        <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=22f57f25fa&e=c4c8308275" title="Gucci Lace Panel Dress" target="_blank">
                           <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/9819a48d-6e6b-4a32-8921-1705e52dee35.jpg" alt="Gucci Lace Panel Dress" width="245" height="280">
                        </a>
                    </td>
                </tr>
                <tr style="height: 60px">
                   <td width="50%" align="center" style="text-align:center; font-size:22px; line-height:30px;" id="product1brand">
                   <!-- PRODUCT 1 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=5d34f55191&e=c4c8308275" title="Off-White Off-white Floral Jumpsuit" target="_blank" style="color:#000000; text-decoration:none; font-weight:bold;  text-align:center; text-transform: uppercase; font-size:15px; line-height:30px;">
                            OFF-WHITE
                         </a>
                      </center>
                   </td>
                   <td width="50%" align="center" style=" text-align:center; font-size:22px; line-height:30px;" id="product2brand">
                      <!-- PRODUCT 2 BRAND -->
                      <center>
                          <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=0785400023&e=c4c8308275" title="Gucci Lace Panel Dress" target="_blank" style="color:#000000; text-decoration:none; font-weight:bold; text-align:center; text-transform: uppercase; font-size:15px; line-height:30px;">
                             GUCCI</a>
                      </center>
                   </td>
                </tr>
                <tr>
                   <td width="50%" align="center" style="text-align: center;" id="product3image">
                      <center>
                      <!-- PRODUCT 3 IMAGE -->
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=b86a0c1e96&e=c4c8308275" title="Moschino Capsule Sweatshirt" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/f05391ae-9340-4ce5-98ff-7b267b10b567.jpg" alt="Moschino Capsule Sweatshirt" width="245" height="280"></a>
                      </center>
                   </td>
                   <td width="50%" align="center" style="text-align: center;" id="product4image">
                   <!-- PRODUCT 4 IMAGE -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=ae4649785d&e=c4c8308275" title="J Brand J Brand Joan High Rise Jeans" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/6c49bf83-91d4-4d00-b7a2-6bdcdf0be859.jpg" alt="J Brand J Brand Joan High Rise Jeans" width="245" height="280"></a>
                      </center>
                   </td>
                </tr>
                <tr style="height: 80px">
                   <td width="50%" align="center" style=" text-align:center" id="product3brand">
                      <!-- PRODUCT 3 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=9000aa15b0&e=c4c8308275" title="Moschino Capsule Sweatshirt" target="_blank" style="color:#000000; text-decoration:none; font-weight:bold;  text-align:center; text-transform: uppercase; font-size:15px; line-height:30px;">MOSCHINO</a>
                      </center>
                   </td>
                   <td width="50%" align="center" style="text-align:center" id="product4brand">
                      <!-- PRODUCT 4 BRAND -->
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=fcbd4ba026&e=c4c8308275" title="J Brand J Brand Joan High Rise Jeans" target="_blank" style="color:#000000; text-decoration:none; font-weight:bold; text-align:center; text-transform: uppercase; font-size:15px; line-height:30px;">J BRAND</a>
                   </td>
                </tr>
                <tr>
                   <td colspan="2" style="text-align:center">
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=efb24c594a&e=c4c8308275" title="Shop for Women on italist" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; color: #ffffff; text-align: center; font-size: 23px; font-weight: bold; text-decoration: none; background-color: #000000; margin: 0px auto; text-align: center; letter-spacing: 1px; display: inline-block; width: 238px; height: 34px; line-height: 34px">
                         SHOP WOMEN
                      </a>
                   </td>
                </tr>
                <tr style="height: 100px">
                   <td colspan="2" style="text-align:center">
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=a91e28863d&e=c4c8308275" title="For Him on Italist" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 22px; font-weight: bold; color: #000; letter-spacing: 2px; text-decoration: none; display:inline-block;border-bottom: 3px solid #000; padding:3px 0">
                         FOR HIM
                      </a>
                   </td>
                </tr>
                
                <tr>
                   <td width="50%" align="center" style="text-align: center;" id="product5image">
                      <!-- PRODUCT 5 IMAGE -->
                      <center>
                          <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=d9c6b8dd63&e=c4c8308275" title="Valentino Double Pocket Shirt" target="_blank">
                            <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/aafc7df9-1702-4c33-acea-bd8fb3048659.jpg" alt="Valentino Double Pocket Shirt" width="245" height="280">
                         </a>
                      </center>
                   </td>
                   <td width="50%" align="center" style="text-align: center;" id="product6image">
                      <!-- PRODUCT 6 IMAGE -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=181be94d96&e=c4c8308275" title="Prada Stretch Trousers" target="_blank"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/cfaf8ae6-37ce-4c3a-a3a7-83bab1367c60.jpg" alt="Prada Stretch Trousers" width="245" height="280"></a>
                      </center>
                   </td>
                </tr>
                <tr style="height: 60px">
                   <td width="50%" align="center" style=" text-align:center" id="product5brand">
                      <!-- PRODUCT 5 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=86f624ce7e&e=c4c8308275" title="Valentino Double Pocket Shirt" target="_blank" style="color:#000000; text-decoration:none; font-weight:bold;  text-align:center; text-transform: uppercase; font-size:15px; line-height:30px;">VALENTINO</a>
                      </center>
                   </td>
                   <td width="50%" align="center" style=" text-align:center" id="product6brand">
                      <!-- PRODUCT 6 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=a5d56c81f5&e=c4c8308275" title="Prada Stretch Trousers" target="_blank " style="color:#000000; text-decoration:none; font-weight:bold; text-align:center; text-transform: uppercase; font-size:15px; line-height:30px; ">PRADA</a>
                      </center>
                   </td>
                </tr>
                <tr>
                   <td width="50% " align="center " style="text-align: center" id="product7image">
                      <!-- PRODUCT 7 IMAGE -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=7129860ab4&e=c4c8308275" title="Burberry Top" target="_blank ">
                            <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/b65b7b78-3f31-4697-bcb8-9ec920a0951b.jpg" alt="Burberry Top" width="245" height="280">
                         </a>
                      </center>
                   </td>
                   <td width="50% " align="center " style="text-align: center" id="product8image">
                      <!-- PRODUCT 8 IMAGE -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=1e29f0ad78&e=c4c8308275" title="Kenzo Chino Shorts" target="_blank ">
                            <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/49382127-636b-497c-97c2-d70901aefeb4.jpg" alt="Kenzo Chino Shorts" width="245" height="280">
                         </a>
                      </center>
                   </td>
                </tr>
                <tr style="height: 40px">
                   <td width="50%" align="center " style=" text-align:center" id="product7brand">
                      <!-- PRODUCT 7 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=4b7b5301ce&e=c4c8308275" title="Burberry Top" target="_blank " style="color:#000000; text-decoration:none; font-weight:bold;  text-align:center; text-transform: uppercase; font-size:15px; line-height:30px; ">BURBERRY</a>
                      </center>
                   </td>
                   <td width="50% " align="center " style=" text-align:center; line-height:30px;" id="product8brand">
                      <!-- PRODUCT 8 BRAND -->
                      <center>
                         <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=ad5c7277fe&e=c4c8308275" title="Kenzo Chino Shorts" target="_blank " style="color:#000000; text-decoration:none; font-weight:bold; text-align:center; text-transform: uppercase; font-size:15px; line-height:30px; ">KENZO</a>
                      </center>
                   </td>
                </tr>
                <tr style="height: 80px">
                   <td colspan="2" style="text-align:center">
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=e4a59d461a&e=c4c8308275" title="Shop for Men on italist " target="_blank " style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; text-align: center; color: #ffffff; font-size: 23px; font-weight: bold; text-decoration: none; background-color: #000000; margin: 0px auto; letter-spacing: 1px; display: inline-block; width: 238px; height: 34px; line-height: 34px">
                         SHOP MEN
                      </a>
                   </td>
                </tr>
                <tr>
                   <td colspan="2" style="text-align: center">
                      <div style="border-bottom: 2px solid #000; border-top: 2px solid #000; height: 3px; width: 495px; display: inline-block"></div>
                   </td>
                </tr>
                <tr style="height: 35px">
                   <td colspan="2" style="text-align: center">
                   </td>
                </tr>
             </tbody>
          </table>
          
          <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; text-align: center">
             <colgroup>
                <col>
                <col style="width: 30px">
                <col>
                <col style="width: 30px">
                <col>
             </colgroup>
             <tr>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=0802739587&e=c4c8308275" title="Shop for Women on italist " target="_blank">
                      <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/5cb0fe74-219f-4414-9a5c-20d587841633.jpg" width="180">
                   </a>
                </td>
                <td></td>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=2baf68a7d9&e=c4c8308275" title="Shop for Men on italist" target="_blank">
                      <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/c15512ab-138f-444c-b534-12e895017cc2.jpg" width="180">
                   </a>
                </td>
                <td></td>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=0a65114231&e=c4c8308275" title="Designers of italist " target="_blank">
                      <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/9b7b3d39-e0c4-41a9-a0d4-9f9087473a8a.jpg" width="180">
                   </a>
                </td>
             </tr>
             <tr style="height: 10px">
                <td colspan="3"></td>
             </tr>
             <tr>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=d4d77fbd7e&e=c4c8308275" title="Shop for Women on italist" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; background-color: #000000; width: 73px; height: 20px; line-height: 20px; display: inline-block; text-align: center ">
                      SHOP NOW
                   </a>
                </td>
                <td></td>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=60cb8e4633&e=c4c8308275" title="Shop for Women on italist" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; background-color: #000000; width: 73px; height: 20px; line-height: 20px; display: inline-block; text-align: center">
                      SHOP NOW
                   </a>
                </td>
                <td></td>
                <td style="text-align:center">
                   <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=6dbdb58da7&e=c4c8308275" title="Designers of italist " target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; background-color: #000000; width: 73px; height: 20px; line-height: 20px; display: inline-block; text-align: center">
                      SHOP NOW
                   </a>
                </td>
             </tr>
          </table>
          
          <table style="text-align: center; margin-top: 50px">
             <tbody>
                <tr>
                   <td style="text-align: center">
                      <div style="border-bottom: 2px solid #000; border-top: 2px solid #000; height: 3px; width: 495px; display: inline-block"></div>
                   </td>
                </tr>
                <tr style="height: 105px">
                   <td>
                      <p style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 17px; font-weight: bold" id="magheading">
                         SS18 NEW ARRIVALS
                      </p>
                      <p style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 14px" id="magsentence">
                         Discover latest trends from top fashion houses for both men and women. Shop on italist.com for the best prices in the market and curate your best style for every season.
                      </p>
                   </td>
                </tr>
                <tr>
                   <td style="text-align: center" id="magtitle">
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=ca9ef5e531&e=c4c8308275" title="SS18 NEW ARRIVALS" target="_blank">
                         <img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/4fe5d9ed-0727-425a-b8f5-0df49b480415.jpg" width="600">
                          </a>
                   </td>
                </tr>
                <tr style="height: 20px">
                   <td>
                   </td>
                </tr>
                <tr>
                   <td style="text-align: center">
                      <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=95bcf93aa7&e=c4c8308275" target="_blank" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; color: #ffffff; font-size: 22px; font-weight: bold; text-decoration: none; background-color: #000000; margin: 0px auto; text-align: center; letter-spacing: 1px; width: 163px; height: 30px; line-height: 30px; display: inline-block">
                         SHOP NOW
                      </a>
                   </td>
                </tr>
                <tr style="height: 30px">
                   <td>
                   </td>
                </tr>
             </tbody>
          </table>              	</td>
                            <td></td>
                         </tr>
          
                      </tbody>
                      <tfoot style="background-color: #f0f0f0">
                         <tr style="height: 30px">
                            <td colspan="12">
                            </td>
                         </tr>
                         <tr>
                            <td colspan="12" style="text-align: center">
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=3698b7336d&e=c4c8308275" target="_blank" style="margin: 2px;"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/d764a704-71a8-4c95-8fc9-55f0b4ae0a22.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=4a2f91eeab&e=c4c8308275" target="_blank" style="margin: 2px;"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/2398b573-7810-49ba-b6f2-2a8c2658636f.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=e18a4d9813&e=c4c8308275" target="_blank" style="margin: 2px;"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/6e1848f7-8b4f-44d1-9ba9-f2f9c339f0b7.png" width="18"></a>
                               <a href="https://italist.us8.list-manage.com/track/click?u=d5567539c2f62cab5da05ad5c&id=921ce8ed33&e=c4c8308275" target="_blank" style="margin: 2px;"><img src="https://gallery.mailchimp.com/d5567539c2f62cab5da05ad5c/images/22aafcc1-3121-45fb-a242-11ef5c13a8d5.png" width="18"></a>
                            </td>
                         </tr>
          
                         <tr style="height: 20px">
                            <td colspan="12"></td>
                         </tr>
          
                         <tr>
                            <td colspan="12" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; text-align: center">
                               Italist Inc
                            </td>
                         </tr>
          
                         <tr style="height: 30px">
                            <td colspan="12"></td>
                         </tr>
          
                         <tr>
                            <td colspan="12" style="font-family: 'Source Sans Pro', 'Helvetica', sans-serif; font-size: 12px; text-align: center">
                               <p>You received this message because you have subscribed to italist.com list</p>
                               <p>If you prefer not to receive future e-mails please click <a href="https://italist.us8.list-manage.com/unsubscribe?u=d5567539c2f62cab5da05ad5c&id=a0a3cc621c&e=c4c8308275&c=c0d9bf5930" style="color: #000; text-decoration: none" target="_blank">here</a>.</p>
                            </td>
                         </tr>
          
                         <tr style="height: 30px">
                            <td colspan="12">
                            </td>
                         </tr>
                      </tfoot>
                   </table>
                </center>
             <img src="https://italist.us8.list-manage.com/track/open.php?u=d5567539c2f62cab5da05ad5c&id=c0d9bf5930&e=c4c8308275" height="1" width="1"></body>
          </html>
                  