
          <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
          <html>
            <head>
              <meta http-equiv="content-type" content="text/html; charset=UTF-8">
              <meta property="og:title" content="Sparkling Savings – 30% off Bai Bubbles!">
              <title>Sparkling Savings – 30% off Bai Bubbles!</title>
          
            <style type="text/css">
                  p{
                      margin:1em 0;
                  }
                  p.footerLinks a{
                      color:#696969;
                      text-decoration:none;
                      text-transform:initial;
                  }
                  img{
                      display:block;
                  }
                  table td{
                      border-collapse:collapse;
                  }
                  .title{
                      font-family:Arial,Helvetica,sans-serif;
                      font-size:18px;
                      font-weight:bold;
                      color:#232323;
                      text-align:left;
                  }
                  .bodyTxt{
                      font-family:Arial,Helvetica,sans-serif;
                      font-size:12px;
                      color:#000000;
                      line-height:24px;
                      text-align:left;
                  }
                  .footerLinks{
                      font-family:Arial,Helvetica,sans-serif;
                      font-size:11px;
                      color:#696969;
                      text-align:left;
                      line-height:20px;
                  }
                  .footerHdr{
                      font-size:12px;
                      color:#000000;
                      font-weight:bold;
                  }
                  .black-cta-btn{
                      color:#FFFFFF;
                      background-color:#000000;
                      text-decoration:none;
                      text-transform:uppercase;
                      font-family:Arial,Helvetica,sans-serif;
                      font-size:13px;
                      font-weight:500;
                      letter-spacing:2.5px;
                      padding:12px 14px;
                      border-radius:2px;
                      -moz-border-radius:2px;
                      -webkit-border-radius:2px;
                      margin:0;
                      display:inline-block;
                  }
              @media only screen and (max-width: 480px){
                  *{
                      box-sizing:border-box;
                  }
          
          }	@media only screen and (max-width: 480px){
                  body{
                      margin:0;
                      padding:0;
                  }
          
          }	@media only screen and (max-width: 480px){
                  img{
                      max-width:100% !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=col]{
                      float:left;
                      width:100% !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  table[class=mainCtn]{
                      width:100% !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=loveFlavCtn]{
                      background-color:#53985B !important;
                      text-align:center;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=loveFlavCtn] img{
                      margin:0 auto !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=shareRedCtn]{
                      padding:20px 30px !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=shareBtnCtn]{
                      padding:20px !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=footerColCtn]{
                      padding:20px 30px !important;
                      position:relative;
                  }
          
          }	@media only screen and (max-width: 480px){
                  td[class=footerCol]{
                      float:left;
                      width:100% !important;
                      padding:0 !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  span[class=title]{
                      font-size:20px !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  p[class=bodyTxt]{
                      font-size:14px !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  p[class=footerLinks]{
                      font-size:15px !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  p[class=footerLinks] a{
                      display:inline-block;
                      padding:10px 0 !important;
                  }
          
          }	@media only screen and (max-width: 480px){
                  img[class=imgx]{
                      width:100% !important;
                  }
          
          }</style></head>
            <body bgcolor="#ffffff">
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="mainCtn">
                <tr>
                  <td align="center" valign="top" style="padding: 3px 0 3px 0;padding-top: 3px;padding-right: 0px;padding-bottom: 3px;padding-left: 0px;border-collapse: collapse;"></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" bgcolor="#000000" style="padding-top: 20px;padding-right: 30px;padding-bottom: 20px;padding-left: 30px;border-collapse: collapse;"><img alt="The Bai Weekly - 5 Stories Every 15 Days" border="0" height="69" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/974c23dd-7c88-4ce4-a1a1-0f6e45b3ff0d.png" style="display: block; width:100%; max-width: 600px; height: auto;" width="600"></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" style="border-collapse: collapse;">
                    <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=878fec6bb1&e=a19b571ee8"><img alt="Celebrate Our NEW Look With BIG, Bubbly Savings!" data-file-id="1352137" height="354" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/6b0a4fd4-4c4d-4108-ad03-f2276c85290c.jpg" style="border: 0px;width: 100%;max-width: 675px;height: auto;margin: 0px;padding: 0px;display: block;" width="675"></a>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse;"><div style="background-color:#000000;margin:0 0 0 0;padding:0 0 0 0;"><p style="color:#ffffff;text-align:center;margin: 0 0 0 0;padding:20px 10px;font-family:Arial, Helvetica, san-serif;font-weight:600;font-size:16px;letter-spacing:1.5px;text-transform:uppercase;">&nbsp;Celebrate our NEW look with BIG, bubbly savings<span style="color:#000000;">!</span></p></div></td>
              </tr>
              <tr>
                <td align="left" valign="middle" style="border-collapse: collapse;"></td>
              </tr>
              <tr>
                <td style="border-collapse: collapse;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="storyCtn">
                    <tr>
                      <td align="left" valign="top" width="50%" class="col" style="border-collapse: collapse;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                          <tr>
                            <td style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                              <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=a706f9e0d0&e=a19b571ee8"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b0ebf690bc&e=a19b571ee8" target="_blank"><img alt="NEW Look - Bai Bubbles Sparkling Water" border="0" class="imgx" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/1f81aeea-1c36-44e8-8a94-3bb7149526ea.jpg" style="width:100%;max-width:340px;height:auto;margin:0;padding:0;display:block;" width="340"></a></a>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="top" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td style="padding-top: 30px;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><p style="margin: 1em 0;"><font color="#232323" face="Arial, Helvetica, sans-serif"><span style="font-size:18px; line-height:30px"><strong>One Small Step for Cans. One Giant Leap for Mouth-kind.</strong></span> </font></p>
          
          <p style="margin: 1em 0;"><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">Get ready for a fresh pop of color with the same bold bubbles you&rsquo;re used to. Even though our cans have a sparkling new look, they still have the same big, bubbly, fruit flavor you already love, with just 5 tiny calories and no artificial sweeteners.</span></span></p>
          </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding-top: 0;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><a class="black-cta-btn" href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=3d327d007f&e=a19b571ee8" style="color: #FFFFFF;background-color: #000000;text-decoration: none;text-transform: uppercase;font-family: Arial,Helvetica,sans-serif;font-size: 13px;font-weight: 500;letter-spacing: 2.5px;padding: 12px 14px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;margin: 0;display: inline-block;">Check 'EM OUT</a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td align="left" valign="top" width="50%" bgcolor="#ededed" class="col" style="border-collapse: collapse;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <tr>
                      <td bgcolor="#ffffff" align="left" valign="top" class="loveFlavCtn" style="border-collapse: collapse;"></td>
                    </tr>
                    <tr>
                      <td style="border-collapse: collapse;">
                        <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=6636ed3d46&e=a19b571ee8"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=bc1256dc3b&e=a19b571ee8" target="_blank"><img alt="Sparkling Savings – 30% OFF Bai Bubbles" border="0" class="imgx" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/bdf7a5e0-3eba-400b-8820-282e4f0169f3.jpg" style="width:100%;max-width:340px;height:auto;margin:0;padding:0;display:block;" width="340"></a></a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding-top: 30px;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><p style="margin: 1em 0;"><font color="#232323" face="Arial, Helvetica, sans-serif"><span style="font-size:18px; line-height:30px"><strong>Spring it on With Sparkling Savings</strong></span> </font></p>
          
          <p style="margin: 1em 0;"><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="color:#666666; font-size:12px; line-height:27px">Spring has sprung! So we&rsquo;re toasting to warmer weather with a carbonation celebration and an extra <strong>*30% savings off all Bai Bubbles</strong>. Stock up on your favorite sparkling sips today.</span></span></p>
          
          <p style="margin: 1em 0;"><em><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="color:#666666; font-size:12px; line-height:27px">*30% off applied on <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=44a34b0e30&e=a19b571ee8" target="_blank">Amazon.com</a>. No coupon code required. Only available on select Bai Bubbles flavors. Limited time only, while supplies last.</span></span></em></p>
          </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" valign="middle" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="padding-top: 0;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><a class="black-cta-btn" href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=bbebef6b68&e=a19b571ee8" style="color: #FFFFFF;background-color: #000000;text-decoration: none;text-transform: uppercase;font-family: Arial,Helvetica,sans-serif;font-size: 13px;font-weight: 500;letter-spacing: 2.5px;padding: 12px 14px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;margin: 0;display: inline-block;">SHOP NOW</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          </tr>
          <tr>
          <td align="left" valign="top" width="50%" bgcolor="#ededed" class="col" style="border-collapse: collapse;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
              <tr>
                <td style="border-collapse: collapse;">
                  <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=5c47b9338f&e=a19b571ee8"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=86d9866642&e=a19b571ee8" target="_blank"><img alt="Cherry Rye Bubble Over Recipe with Bubbles Bolivia Black Cherry" border="0" class="imgx" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/3267a01c-317c-4895-b881-3b42c6d76f5a.jpg" style="width:100%;max-width:340px;height:auto;margin:0;padding:0;display:block;" width="340"></a></a>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="padding-top: 30px;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><p style="margin: 1em 0;"><font color="#232323" face="Arial, Helvetica, sans-serif"><span style="font-size:18px; line-height:30px"><strong>Get Ready for a Very Cherry Happy Hour</strong></span> </font></p>
          
          <p style="margin: 1em 0;"><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">Sugar is so last century. Taste the new generation of carbonation with this 5-calorie recipe for our Cherry Rye Bubble Over.<br>
          <span style="color:#FF0000"><strong>CHERRY RYE BUBBLE OVER</strong></span><br>
          <strong>Ingredients:</strong> </span></span></p>
          
          <ul>
              <li><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">4 oz Bai Bubbles Bolivia Black Cherry </span></span></li>
              <li><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">3 maraschino cherries </span></span></li>
              <li><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">1 blood orange slice </span></span></li>
              <li><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">2 oz rye whiskey </span></span></li>
              <li><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px">ice </span></span></li>
          </ul>
          <span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="font-size:12px; line-height:27px"><strong>Directions:</strong> Muddle maraschino cherries and slice of blood orange. Add 2 oz Rye whiskey and stir. Strain into glass over ice. Top with Bubbles Bolivia Black Cherry. Garnish with maraschino cherry.</span></span>
          </td>
              </tr>
            </table>
          </td>
          </tr>
          <tr>
          <td align="left" valign="middle" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding-top: 0;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><a class="black-cta-btn" href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=63d919b18b&e=a19b571ee8" style="color: #FFFFFF;background-color: #000000;text-decoration: none;text-transform: uppercase;font-family: Arial,Helvetica,sans-serif;font-size: 13px;font-weight: 500;letter-spacing: 2.5px;padding: 12px 14px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;margin: 0;display: inline-block;">See More Recipes</a></td>
              </tr>
            </table>
          </td>
          </tr>
          </table>
          </td>
          <td align="left" valign="top" width="50%" class="col" style="border-collapse: collapse;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
          <tr>
          <td style="border-collapse: collapse;">
            <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=759dad165c&e=a19b571ee8"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=5df997ca80&e=a19b571ee8" target="_blank"><img alt="Let Your Taste Buds Rate &amp; Review Our Exotic Fruit Flavors!" border="0" class="imgx" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/a94d642c-fa91-45e5-8089-faf73556f0ba.jpg" style="width:100%;max-width:340px;height:auto;margin:0;padding:0;display:block;" width="340"></a></a>
          </td>
          </tr>
          <tr>
          <td align="left" valign="top" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding-top: 30px;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><p style="margin: 1em 0;"><font color="#232323" face="Arial, Helvetica, sans-serif"><span style="font-size:18px; line-height:30px"><strong>Let Your Taste Buds do the Talking</strong></span> </font></p>
          
          <p style="margin: 1em 0;"><span class="bodyTxt" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #000000;line-height: 24px;text-align: left;"><span class="s1" style="color:#666666; font-size:12px; line-height:27px">Now when you head to <a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b151c02481&e=a19b571ee8" target="_blank">Drinkbai.com</a> you can rate and review all of our exotic fruit flavors. Tell us which bottles and cans make your mouth water, or what we can tweak to make your taste buds happy.</span></span></p></td>
          </tr>
          </table>
          </td>
          </tr>
          <tr>
          <td align="left" valign="middle" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-collapse: collapse;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
          <td style="padding-top: 0;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;border-collapse: collapse;"><a class="black-cta-btn" href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b83a7f4ead&e=a19b571ee8" style="color: #FFFFFF;background-color: #000000;text-decoration: none;text-transform: uppercase;font-family: Arial,Helvetica,sans-serif;font-size: 13px;font-weight: 500;letter-spacing: 2.5px;padding: 12px 14px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;margin: 0;display: inline-block;">Post A Review</a></td>
          </tr>
          </table>
          </td>
          </tr>
          </table>
          </td>
          </tr>
          </table>
          </td>
          </tr>
          <tr>
          <td bgcolor="#C42F30" align="center" valign="middle" style="padding-top: 50px;padding-bottom: 50px;border-collapse: collapse;" class="shareRedCtn"><img src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/5bc58a38-9dc9-4541-8a26-99421bab5ae9.gif" width="340" alt="Share The Flavor" border="0" style="display: block;">
          </td>
          </tr>
          <tr>
          <td bgcolor="#ededed" align="center" valign="middle" style="padding-top: 50px;padding-bottom: 50px;border-collapse: collapse;" class="shareBtnCtn">
          <a href="http://us5.forward-to-friend.com/forward?u=bf14d71935115e1e0184a3d92&id=4026e95fe7&e=a19b571ee8" class="black-cta-btn" style="color: #FFFFFF;background-color: #000000;text-decoration: none;text-transform: uppercase;font-family: Arial,Helvetica,sans-serif;font-size: 13px;font-weight: 500;letter-spacing: 2.5px;padding: 12px 14px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;margin: 0;display: inline-block;">Forward to a Friend</a>
          </td>
          </tr>
          <tr>
          <td class="footerColCtn" style="border-collapse: collapse;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
          <tr>
          <td width="33%" align="left" valign="top" style="padding-top: 30px;padding-right: 10px;padding-bottom: 30px;padding-left: 50px;border-collapse: collapse;" class="footerCol"><p class="footerLinks" style="margin: 1em 0;font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #696969;text-align: left;line-height: 20px;"><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">BAI</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=0df3f96bb0&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Brasilia Blueberry</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=f7c0009bf2&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Burundi Blueberry Lemonade</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=9c11b19dad&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Costa Rica Clementine</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=1e2033fb96&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Ipanema Pomegranate</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=ddfcff3b40&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Kula Watermelon</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=427a0eeb14&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Limu Lemon</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=7be2be2797&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Malawi Mango</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=2f616a903a&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Panama Peach</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=10bc56932c&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">S&atilde;o Paulo Strawberry Lemonade</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=3227811057&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Sumatra Dragonfruit</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b8759f2a1b&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Mountainside Variety Pack</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=958ccc33e0&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Oasis Variety Pack</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=273f5642be&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Rainforest Variety Pack</a>
          <br>
          <br><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">BUBBLES</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=f797c9f995&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Bolivia Black Cherry</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=f3ca20318b&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Jamaica Blood Orange</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=bcb813e3af&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Gimbi Pink Grapefruit</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=889c4ef8b6&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Bogot&aacute; Blackberry Lime</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=18eb52dd98&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Peru Pineapple</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=427b502a8f&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Lambari Watermelon Lime</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=becff59547&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Waikiki Coconut</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=70c41389fe&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Sublime Variety Pack</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=09188a9792&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Voyager Variety Pack</a>
          </p></td>
          <td width="33%" align="left" valign="top" style="padding-top: 30px;padding-right: 10px;padding-bottom: 30px;padding-left: 10px;border-collapse: collapse;" class="footerCol"><p class="footerLinks" style="margin: 1em 0;font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #696969;text-align: left;line-height: 20px;"><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">COCOFUSIONS</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=c677ee5f3d&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Andes Coconut Lime</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=284e65883c&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Madagascar Coconut Mango</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=f2a4a1e935&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Maui Coconut Raspberry</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=3fa83b8281&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Molokai Coconut</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b29d41046a&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Puna Coconut Pineapple</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=5d9f1acf8a&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Cocofusions Variety Pack</a>
          <br>
          <br><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">ANTIOXIDANT WATER</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=72363e6646&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Antioxidant Water</a>
          <br>
          <br><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">SUPERTEAS</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=9b1ea91673&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Nari&ntilde;o Peach Tea</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=45e072e9ff&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Paraguay Passionfruit Tea</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=90273324af&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Rio Raspberry Tea</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=34df020822&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Socorro Sweet Tea</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=84b3bcbad4&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Tanzania Lemonade Tea</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=b8233ae6b6&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">Supertea Variety Pack</a>
          </p></td>
          <td width="33%" align="left" valign="top" style="padding-top: 30px;padding-right: 50px;padding-bottom: 30px;padding-left: 10px;border-collapse: collapse;" class="footerCol"><p class="footerLinks" style="margin: 1em 0;font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #696969;text-align: left;line-height: 20px;"><span class="footerHdr" style="font-size: 12px;color: #000000;font-weight: bold;">GET IN TOUCH:</span>
          <br><a href="mailto:info@drinkbai.com" style="color: #696969;text-decoration: none;text-transform: initial;">info@drinkbai.com</a>
          <br>1-609-586-0500
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=a770e1a850&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">facebook</a>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=77d50427f2&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">twitter</a>
          <br>
          <br><span class="footerHdr" style="font-family: arial,helvetica,sans-serif;line-height: 20px;font-size: 12px;color: #000000;font-weight: bold;">CUSTOMER CARE:</span>
          <br><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=de3edaab9c&e=a19b571ee8" style="color: #696969;text-decoration: none;text-transform: initial;">FAQ</a>
          </p>
          <div style="display: inline-block;position: relative;margin: 10px 0px;width: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" class="socialBtnsTbl" width="600" height="60" style="max-width:600px;width:100%;">
              <tbody>
                  <tr>
                      <td style="border-collapse: collapse;"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=45b138ec84&e=a19b571ee8"><img alt="Facebook" border="0" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/fd37337f-9912-4032-a250-74ff36250169.gif" width="30" height="30" style="display:block;max-width:30px;height:auto;"></a>
                      </td>
                      <td style="border-collapse: collapse;"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=e72df5c115&e=a19b571ee8"><img alt="Facebook" border="0" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/5dd25118-2a8b-4354-910f-89aa41b04d8a.gif" width="30" height="30" style="display:block;max-width:30px;height:auto;"></a>
                      </td>
                      <td style="border-collapse: collapse;"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=efadd745ba&e=a19b571ee8"><img alt="Facebook" border="0" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/19544b0f-1d66-410b-b1f6-fe8fb67b99b9.gif" width="30" height="30" style="display:block;max-width:30px;height:auto;"></a>
                      </td>
                      <td style="border-collapse: collapse;"><a href="https://drinkbai.us5.list-manage.com/track/click?u=bf14d71935115e1e0184a3d92&id=a9d519f64f&e=a19b571ee8"><img alt="Facebook" border="0" src="https://gallery.mailchimp.com/bf14d71935115e1e0184a3d92/images/7beb0d6a-0c0e-44f2-9400-ca500b129e68.gif" width="30" height="30" style="display:block;max-width:30px;height:auto;"></a>
                      </td>
                  </tr>
              </tbody>
          </table>
          </div></td>
          </tr>
          </table>
          </td>
          </tr>
          <tr style="width:100%;">
          <td align="left" valign="top" style="padding-right: 30px;padding-left: 30px;border-collapse: collapse;"><p style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #696969;text-align: left;width: 100%;display: block;margin: 1em 0;">
           <em>Copyright © 2018 bai Brands, LLC, All rights reserved.</em> <br>
          <!--
           -->You are receiving this email because you opted in at drinkbai.com <br><strong>Our mailing address is:</strong> <br><div class="vcard"><span class="org fn">bai Brands, LLC</span><div class="adr"><div class="street-address">1800 East State Street</div><div class="extended-address">Suite 153</div><span class="locality">Hamilton Township</span>, <span class="region">NJ</span>  <span class="postal-code">08609</span></div><br><a href="//drinkbai.us5.list-manage.com/vcard?u=bf14d71935115e1e0184a3d92&id=fcffeea92c" class="hcard-download">Add us to your address book</a></div> <br>
          <!--
           -->
          </p></td>
          </tr>
          </table>
                      <center>
                          <br />
                          <br />
                          <br />
                          <br />
                          <br />
                          <br />
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;">
                              <tr>
                                  <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                                      <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
                                          <tr>
                                              <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
                                                  This email was sent to <a href="mailto:jane@email-copy.freeshopifytools.com" target="_blank" style="color:#404040 !important;">jane@email-copy.freeshopifytools.com</a>
                                                  <br />
                                                  <a href="https://drinkbai.us5.list-manage.com/about?u=bf14d71935115e1e0184a3d92&id=fcffeea92c&e=a19b571ee8&c=4026e95fe7" target="_blank" style="color:#404040 !important;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://drinkbai.us5.list-manage.com/unsubscribe?u=bf14d71935115e1e0184a3d92&id=fcffeea92c&e=a19b571ee8&c=4026e95fe7" style="color:#404040 !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://drinkbai.us5.list-manage.com/profile?u=bf14d71935115e1e0184a3d92&id=fcffeea92c&e=a19b571ee8" style="color:#404040 !important;">update subscription preferences</a>
                                                  <br />
                                                  bai Brands, LLC &middot; 1800 East State Street &middot; Suite 153 &middot; Hamilton Township, NJ 08609 &middot; USA
                                                  <br />
                                                  <br />
          
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                          <style type="text/css">
                              @media only screen and (max-width: 480px){
                                  table#canspamBar td{font-size:14px !important;}
                                  table#canspamBar td a{display:block !important; margin-top:10px !important;}
                              }
                          </style>
                      </center><img src="https://drinkbai.us5.list-manage.com/track/open.php?u=bf14d71935115e1e0184a3d92&id=4026e95fe7&e=a19b571ee8" height="1" width="1"></body>
          </html>
                  